<nav class="navbar navbar-light">
  <div class="container" style="padding-bottom: 8px;">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Email" aria-label="Email">
      <button class="btn btn-outline-success" type="submit">Email</button>
    </form>
    <div class="ms-auto px-2">
      <a href=""><i class="bi bi-facebook"></i></a>
      <a href=""><i class="bi bi-instagram"></i></a>
      <a href=""><i class="bi bi-linkedin"></i></a>
      <a href=""><i class="bi bi-twitter"></i></a>
    </div>
  </div>
  <div class="container" style="border-top: 1px solid black; padding-top: 3px;">
    <nav class="nav">
      <a class="nav-link active" aria-current="page" href="#">About us</a>
      <a class="nav-link" href="#">Shipping Policy</a>
      <a class="nav-link" href="#">Refunds</a>
      <a class="nav-link ">Contact Us</a>
    </nav>
  </div>
</nav>