<nav class="navbar navbar-light fixed-bottom">
    <div class="container ">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Email" aria-label="Email">
        <button class="btn btn-outline-success" type="submit">Email</button>
      </form>
      <div class = "ms-auto px-2">
            <a href=""><i class = "bi bi-facebook"></i></a>
            <a href=""><i class = "bi bi-facebook"></i></a>
            <a href=""><i class = "bi bi-facebook"></i></a>
            <a href=""><i class = "bi bi-facebook"></i></a>
            <a href=""><i class = "bi bi-facebook"></i></a>    
      </div>
    </div>
  </nav>