<div class="container" style="margin-top: calc(4%);">
    <div class="row">
        <div class="col-md-3 offset-md-4">
            <form>
                <h1>Welcome back</h1>
                <p>Sign in to continue</p>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Enter Mobile number</label>
                    <input type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter Mobile">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password">
                </div>
                    <button style="width: 100%;" type="submit" class="btn btn-success">Login</button>
            </form>
        </div>
    </div>
</div>