<div class="container my-3 heading">
    <div class="row">
        <div class="col">
            <h4> What are you looking for</h4>
        </div>
        <div class="col-md-auto">
            <button class="btn btn-outline-success">See more</button>
        </div>
    </div>

    <div class="container overflow-hidden category-container">
        <div class="row gx-1 justify-content-md-center">
            <div class="col-md-2">
                <div class="card text-center" style="width: 10rem;">
                    <img src="../../assets/cat_4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            Snacks
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-center" style="width: 10rem; ">
                    <img src="../../assets/cat_4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            Dairy
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-center" style="width: 10rem;">
                    <img src="../../assets/cat_4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            Staples
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-center" style="width: 10rem; ">
                    <img src="../../assets/cat_4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            Vegetables
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container heading">
    <div class="row">
      <div class="col">
        <h4> Todays picks</h4>
      </div>
      <div class="col-md-auto">
        <button class="btn btn-outline-success">See more</button>
      </div>
    </div>

    <div class="container overflow-hidden">
      <div class="row gy-4">
        <div class="col-3">
          <div class="p-3">
            <div class="card item-card" style="width: 18rem;">
              <img src="../../assets/11697.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="row">
                  <div class="col-8">
                    <h6 style="margin-top: 10px;" class="card-title">Barley FLower</h6>
                  </div>
                  <div class="col md-auto">
                    <button class="btn btn-outline-danger"><i class="bi bi-heart"></i></button>
                  </div>
                </div>
                <div class="row select-row">
                  <select class="form-select" aria-label="Default select example">
                    <option>Open this select menu</option>
                    <option value="1" selected>1Kg, Rs 25</option>
                    <option value="2">2Kg, Rs 50</option>
                    <option value="3">3kg, Rs 45</option>
                  </select>
                </div>
                <div class="row align-center">
                  <div class="col">
                    <h6 style="margin-top: 10px;">Rs 20.55</h6>
                  </div>
                  <div class="col md-auto">
                    <app-cart-button></app-cart-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-3">
            <div class="card item-card" style="width: 18rem;">
              <img src="../../assets/11697.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="row">
                  <div class="col-8">
                    <h6 style="margin-top: 10px;" class="card-title">Barley FLower</h6>
                  </div>
                  <div class="col md-auto">
                    <button class="btn btn-outline-danger"><i class="bi bi-heart"></i></button>
                  </div>
                </div>
                <div class="row select-row">
                  <select class="form-select" aria-label="Default select example">
                    <option>Open this select menu</option>
                    <option value="1" selected>1Kg, Rs 25</option>
                    <option value="2">2Kg, Rs 50</option>
                    <option value="3">3kg, Rs 45</option>
                  </select>
                </div>
                <div class="row align-center">
                  <div class="col">
                    <h6 style="margin-top: 10px;">Rs 20.55</h6>
                  </div>
                  <div class="col md-auto">
                    <app-cart-button></app-cart-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-3">
            <div class="card item-card" style="width: 18rem;">
              <img src="../../assets/11697.jpg" class="card-img-top" alt="...">
              <div class="card-body" style="margin-top: 4px;">
                <div class="row">
                  <div class="col-8">
                    <h6 style="margin-top: 10px;" class="card-title">Barley FLower</h6>
                  </div>
                  <div class="col md-auto">
                    <button class="btn btn-outline-danger"><i class="bi bi-heart"></i></button>
                  </div>
                </div>
                <div class="row select-row">
                  <select class="form-select" aria-label="Default select example">
                    <option>Open this select menu</option>
                    <option value="1" selected>1Kg, Rs 25</option>
                    <option value="2">2Kg, Rs 50</option>
                    <option value="3">3kg, Rs 45</option>
                  </select>
                </div>
                <div class="row align-center">
                  <div class="col">
                    <h6 style="margin-top: 10px;">Rs 20.55</h6>
                  </div>
                  <div class="col md-auto">
                    <app-cart-button></app-cart-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-3">
            <div class="card item-card" style="width: 18rem;">
              <img src="../../assets/11697.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="row">
                  <div class="col-8">
                    <h6 style="margin-top: 10px;" class="card-title">Barley FLower</h6>
                  </div>
                  <div class="col md-auto">
                    <button class="btn btn-outline-danger"><i class="bi bi-heart"></i></button>
                  </div>
                </div>
                <div class="row select-row">
                  <select class="form-select" aria-label="Default select example">
                    <option>Open this select menu</option>
                    <option value="1" selected>1Kg, Rs 25</option>
                    <option value="2">2Kg, Rs 50</option>
                    <option value="3">3kg, Rs 45</option>
                  </select>
                </div>
                <div class="row align-center">
                  <div class="col">
                    <h6 style="margin-top: 10px;">Rs 20.55</h6>
                  </div>
                  <div class="col md-auto">
                    <app-cart-button></app-cart-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-3">
            <div class="card item-card" style="width: 18rem;">
              <img src="../../assets/11697.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="row">
                  <div class="col-8">
                    <h6 style="margin-top: 10px;" class="card-title">Barley FLower</h6>
                  </div>
                  <div class="col md-auto">
                    <button class="btn btn-outline-danger"><i class="bi bi-heart"></i></button>
                  </div>
                </div>
                <div class="row select-row">
                  <select class="form-select" aria-label="Default select example">
                    <option>Open this select menu</option>
                    <option value="1" selected>1Kg, Rs 25</option>
                    <option value="2">2Kg, Rs 50</option>
                    <option value="3">3kg, Rs 45</option>
                  </select>
                </div>
                <div class="row align-center">
                  <div class="col">
                    <h6 style="margin-top: 10px;">Rs 20.55</h6>
                  </div>
                  <div class="col md-auto">
                    <app-cart-button></app-cart-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-3">
            <div class="card item-card" style="width: 18rem;">
              <img src="../../assets/11697.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="row">
                  <div class="col-8">
                    <h6 style="margin-top: 10px;" class="card-title">Barley FLower</h6>
                  </div>
                  <div class="col md-auto">
                    <button class="btn btn-outline-danger"><i class="bi bi-heart"></i></button>
                  </div>
                </div>
                <div class="row select-row">
                  <select class="form-select" aria-label="Default select example">
                    <option>Open this select menu</option>
                    <option value="1" selected>1Kg, Rs 25</option>
                    <option value="2">2Kg, Rs 50</option>
                    <option value="3">3kg, Rs 45</option>
                  </select>
                </div>
                <div class="row align-center">
                  <div class="col">
                    <h6 style="margin-top: 10px;">Rs 20.55</h6>
                  </div>
                  <div class="col md-auto">
                    <app-cart-button></app-cart-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
